@import url(https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap);

.social li, .title {
    filter: drop-shadow(1px 1px 5px #000000);
}
*, .cabecalho, .intro {
    font-family: Poppins, sans-serif;
}
.intro, section {
    max-width: 1280px;
}
.experiencia, .intro h1, .intro p, .projetos, .projetos_text {
    text-align: center;
}
body {
    margin: 0;
    background: linear-gradient(to bottom, #000129 0, #000 50%, #000129 100%);
    padding: 0;
    height: 100vh;
}
section {
    margin: 0 auto;
}
.cabecalho {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: auto;
    justify-content: space-around;
}
.intro, .title {
    flex-direction: row;
    display: flex;
    color: #fff;
}
.title h1 {
    font-size: 1.2em;
    color: #fff;
}
.title h2 {
    font-size: 2em;
    margin-top: .15em;
    color: #fff;
}
.title:hover {
    transition: .2s linear;
    filter: drop-shadow(1px 1px 50px #ffffff);
}
.title a {
    text-decoration: none;
    color: #fff;
}
.social li {
    display: inline-block;
    margin: .15em;
}
.social img, svg {
    width: 1.5em;
    height: 1.5em;
}
.social a:hover {
    filter: drop-shadow(1px 1px 10px #ffffff);
    transition: .2s linear;
}
.intro {
    margin: 0 auto;
    padding: 3.4em;
    justify-content: space-between;
}
.intro div {
    max-width: 40em;
}
.container, .swiper-slide img {
    max-width: 30em;
}
.intro h1 {
    font-family: monospace;
    font-size: 4em;
}
.intro p {
    margin: .5em auto;
}
.intro_profile {
    margin: .5em;
    padding: 0;
    display: flex;
    flex-direction: row;
}
.intro_profile h1 {
    font-size: 3em;
    margin: 0 auto;
}
.intro_profile h2 {
    font-weight: 100;
    margin: 0 auto;
}
.intro_profile img {
    width: 100px;
    height: 100px;
    border: .25em solid #fff;
    border-radius: 100em;
    margin: .5em;
}
.intro_texto button, .social_button {
    margin: 0 1em;
    background-color: #fff;
}
.intro_details, .projetos_back, .projetos_front {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.intro_texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em;
}
.experiencia, .intro_buttons {
    flex-direction: row;
    display: flex;
}
.intro_texto button {
    color: #000;
    padding: .7em;
    border: none;
    border-radius: 1em;
}
.container, .intro_image, .slider, .social_button, .swiper-slide img {
    border-radius: 1em;
}
.intro_texto button:hover {
    filter: drop-shadow(0px 0px 2px #ffffff);
    transition: .5s linear;
}
.intro_texto button a {
    color: #000;
    font-weight: 700;
    font-size: 1.1em;
    text-decoration: none;
}
.container h1, .intro_texto .social {
    margin: 0 auto;
}
.social_button {
    padding: .5em;
}
a:-webkit-any-link {
    color: #000;
    text-decoration: none;
    font-weight: 700;
}
.intro_buttons {
    justify-content: center;
}
.intro_image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1em;
    padding: 1em;
    background-image: linear-gradient(to bottom, #f0f0f0, #686868);
}
.languages {
    margin: 0 auto;
    padding: .5em;
}
.experiencia {
    justify-content: center;
    padding: 3.4em;
    color: #fff;
}
.experiencia_texto {
    padding: 1em;
}
.experiencia h1 {
    font-size: 2.5em;
    margin: 0 auto;
}
.projetos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 3.4em;
}
.projetos_text {
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
}
.projetos_text h1 {
    font-size: 2.2em;
    font-family: Poppins, sans-serif;
    margin: 0 auto;
}
.container {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    padding: 0.5em;
}
.slider {
    margin: 1em;
}
.swiper {
    margin: 0;
    width: 30em;
    height: fit-content;
}