@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

h1, h2, h3, h4, h5, h6, p, li {
    color: white;
}
body {
    margin: 0 auto;
    background: rgb(0,2,47);
    background: linear-gradient(to bottom, rgb(0, 1, 26) 0%, rgba(0,0,0,1) 50%, rgb(0, 1, 41) 100%);
    background-repeat: no-repeat;
    padding: 0em;
}

/*HEADER - CABEÇALHO*/
.cabecalho {
    display: flex;
    flex-direction: row;
    padding: 0em;
    margin: auto;
    justify-content: space-around;
    font-family: 'Poppins', sans-serif;
}
.cabecalho svg {
    margin: 1em;
}
.cabecalho svg:hover {
    transition: 0.5s linear;
    filter: drop-shadow(1px 1px 50px #ffffff);
}
.title {
    color: white;
    filter: drop-shadow(1px 1px 5px #000000);
    display: flex;
    flex-direction: row;
}
.title h1 {
    font-size: 1.2em;
}
.title h2 {
    font-size: 2em;
    margin-top: 0.15em;
}
.title:hover {
    transition: 0.2s linear;
    filter: drop-shadow(1px 1px 50px #ffffff);
}
.title a {
    text-decoration: none;
    color: white;
}
.social li{
    display: inline-block;
    margin: 0.15em;
    filter: drop-shadow(1px 1px 5px #000000);
}
.social img {
    width: 1.5em;
    height: 1.5em;
}
.social a:hover {
    filter: drop-shadow(1px 1px 10px #ffffff);
    transition: 0.2s linear;
}

/*SEÇÃO - INTRO*/
.intro {
    margin: 0 auto;
    padding: 3.4em;
    display: flex;
    font-family: 'Poppins', sans-serif;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1280px;
}
.intro div {
    max-width: 40em;
}
.intro h1 {
    font-family: monospace;
    font-size: 4em;
    text-align: center;
}
.intro p {
    text-align: center;
}
.intro_profile {
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: row;
}
.intro_profile h1 {
    font-size: 3em;
    margin: 0 auto;
}
.intro_profile h2 {
    font-weight: 100;
    margin: 0 auto;
}
.intro_profile img {
    width: 100px;
    height: 100px;
    border: 0.25em solid #fff;
    border-radius: 100em;
    margin: 0.5em;
}
.intro_details {
    margin: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.intro_texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.intro_texto button {
    margin: 0 1em;
    color: #000000;
    background-color: #ffffff;
    padding: 0.7em;
    border: none;
    border-radius: 1em;
}
.intro_texto button:hover {
    filter: drop-shadow(0px 0px 2px #ffffff);
    transition: 0.5s linear;
}
.intro_texto button a {
    color: #000000;
    font-weight: bold;
    font-size: 1.1em;
    text-decoration: none;
}
.intro_buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.intro_image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1em;
    padding: 1em;
    background-image: linear-gradient(to bottom, rgb(240, 240, 240), rgb(104, 104, 104));
    border-radius: 1em;
}
.container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1em;
}
.slider {
    border: #fff solid 0.5em;
    border-radius: 1em;
    margin: 1em;
    background-color: white;
}
.slider h1 {
    margin: 0 auto;
    color: black;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5em;
}
.swiper {
    margin: 0;
    width: 40em;
    height: fit-content;
}
.swiper-slide img {
    max-width: 40em;
    border-radius: 1em;
}
.swiper-button-prev, .swiper-button-next {
    color: white;
}

/*SEÇÃO - PROJECTS*/
.projects {
    margin: 0 auto;
    max-width: 1280px;
}
.projects h1 {
    text-align: center;
    font-size: 4em;
    font-family: monospace;
}
.project_cards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 auto;
    padding: 0;
}
.project_card img {
    margin: 0 auto;
    width: 12.9em;
    height: 7.1em;
    border-radius: 1em;
}
.project_card {
    max-width: 20em;
    padding: 1em;
    margin: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: #ffffff 2px solid;
    border-radius: 1em;
    background-image: linear-gradient(to bottom, #000, rgb(0, 1, 39));
}
.project_card h2 {
    margin: 0.3em;
    text-align: center;
    font-size: 2em;
    font-family: monospace;
}
.project_card p {
    margin: 0.5em;
    text-align: center;
    font-size: 0.7em;
    font-family: 'Poppins', sans-serif;
}
.project_card button {
    margin: 0 auto;
    color: #000000;
    background-color: #ffffff;
    padding: 0.7em;
    border: none;
    border-radius: 1em;
}
.project_card button:hover {
    filter: drop-shadow(0px 0px 2px #ffffff);
}
.project_card button a {
    color: #000000;
    font-weight: bold;
    font-size: 1.1em;
    text-decoration: none;
}


/*FOOTER - RODAPÉ*/
.rodape {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0 auto;
    justify-content: space-around;
}
