@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0 auto;
    background-image: url(img/background3.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.cabecalho {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0 auto;
    justify-content: space-around;
    background-image: linear-gradient(to bottom, rgb(1, 0, 15) 20%, transparent);
}

.title {
    color: white;
    margin-top: 1.8em;
    filter: drop-shadow(1px 1px 5px #000000);
}

.title img:hover {
    transition: 0.1s linear;
    filter: drop-shadow(1px 1px 50px #ffffff);
}

.navbar li{
    display: inline-block;
    margin: 1em;
    filter: drop-shadow(1px 1px 5px #000000);
}

.navbar a:hover {
    filter: drop-shadow(1px 1px 30px #ffffff);
    transition: 0.5s linear;
    font-size: 1.05em;
}

.navbar a {
    text-decoration: none;
    color: white;
}

.intro {
    display: inline-block;
}

.intro_text {
    max-width: 37em;
}

.intro_text h2 {
    color: white;
    font-size: 5em;
    letter-spacing: 10px;
    margin-left: 1em;
    margin-top: 1em;
    margin-bottom: 0.3em;
    font-family: monospace;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 1s steps(20), cursor;
    filter: drop-shadow(1px 1px 5px #000000);
}

.intro_text p {
    color: white;
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 3.3em;
    margin-top: 0em;
}

@keyframes cursor {
    50% { 
        border-color: transparent;
    }
}

@keyframes typing {
    from {
        width: 0;
    }
}